<!DOCTYPE html>
<html>

<head>
    <title>Real Time Forum</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>

</body>
<script src="../static/scripts/router.js" type="module"></script>
<!-- <script>
    const socket = new WebSocket("ws://localhost:8000/ws");

    // Connection opened
    socket.addEventListener("open", (event) => {
        socket.send("Hello Server!");
    });

    // Listen for messages
    socket.addEventListener("message", (event) => {
        console.log("Message from server ", event.data);
    });
</script> -->

</html>